.timkiemtin{
    margin: 0;
}
.chitiettin{
    box-shadow: 1px 1px 1px #eeeeee, -1px -1px 1px #eeeeee;
    z-index: 100;
    background: white;
    padding: 20px 15px;
    width: 98%;
}
.chitiettin h3{
    font-weight: bold;
}
.tomtattin{
    font-weight: 700;
    margin-top: 20px;
}
.noidungtin{
    margin-top: 20px;
}
.timkiemtin{
    width: 98%;
}
@media all and (max-width:996px){
    .timkiemtin{
        margin-top: 20px;
    }
}
