/* main */
.main-title{
    width: 80%;
    margin: auto;
    padding-top: 30px;padding-bottom: 10px;
    border-bottom: 1px solid #aaaaaa;
}
.main-title a{
    font-size: 16px;
    font-weight: bold;
    color: #015F95;
}
.main-title a:hover{
    text-decoration: none;
    color: #015F95;
    transition: 0.4s;
}
.main-title .home:hover{
    color: cornflowerblue;
    transition: 0.4s;
}
.main-title h4{
    font-size: 26px;
    font-weight: bold;
    margin-top: 12px;
}
.main-title p{
    font-size: 15px;
    font-weight: 600;
}
/* main-content */
.main-content{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.main-content>div{padding: 0;}
.danhsachphong{
    width: 98%;
    background: white;
    z-index: 100px;
    border-radius: 5px;
    height: auto;
    box-shadow: 1px 1px 1px #eeeeee, -1px -1px 1px #eeeeee;
}
.phong{
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px; 
    padding:10px;  
}
.phong:last-child{
    margin-bottom: 0;
    border: none;
}
.phong img{
    width: 160px;
    height: 115px;
}
.phong>div{
    padding: 5px 10px 0px;
}
.phong div a:hover{
    text-decoration: none;
    transition: 0.4s;
}
.phong div a:hover h6{
    color: rgb(43, 156, 231);
}
.phong h6{
    color:#10438f;
    font-weight: bold;
}
.phong h6:hover{
    transition: 0.4s;
}
.phong .tomtat{
    color: rgb(66, 62, 62);
    font-size: 14px;
    margin-top: -5px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 15px;
    -webkit-line-clamp: 2;
    height: 30px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.phong .gia{
    margin-top: -15px;
    color: rgb(236, 89, 89);
    font-weight: 700;
    font-size: 19px;
}
.phong .dientich{
    margin-top: -18px;
    color: rgb(0, 136, 34);
    font-weight: 500;
    font-size: 16px;
}
.danhsachphong nav{
    float: right;
    margin-right: 10px;
}
/* timkiemphong */

.timkiemphong{  
    width: 98%;
    z-index: 100;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #eeeeee, -1px -1px 1px #eeeeee;
}
.timkiemphong .card{
    border: none;
}
.timkiemphong .card-header{
    color: #4169E1;
    background:#DCDCDC;
}
.timkiemphong .card-title{
    color: green;
}
.timkiemphong .card-body{
    border-bottom: 1px solid #cccccc;
    padding: 15px;
}
.timkiemphong .card-body:last-child{
    border: none;
}
.timkiemphong a{
    color: #141414;
    font-size: 16px;
    font-weight: 600;
}
.timkiemphong a:hover{
    text-decoration: none;
    color: rgb(81, 104, 231);
    transition: 0.4s;
}
@media all and (max-width:992px){
    .timkiemphong{
        margin-left: 0;margin-top: 30px;
    }
}
